---
import Footer from '../components/structure/Footer.astro'
import Header from '../components/structure/Header.astro'

interface Props {
  pageTitle?: string
  pageDescription?: string
  padding?: string
}
const {
  pageTitle = 'Default title',
  pageDescription = 'Default description',
  padding = 'p-5 sm:p-0',
  prose = false,
} = Astro.props.frontmatter || Astro.props

let bodyBg = 'bg-slate-800'
let additionalClass = ''
if (prose) {
  bodyBg = 'bg-slate-300'
  additionalClass = 'prose prose-slate'
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/astro-demo/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Landing | {pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body class={`${bodyBg} text-slate-50`}>
    <div class="flex flex-col h-screen">
      <Header />
      <main class={`container sm:my-8 flex-1 ${padding} ${additionalClass}`}>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
